body {
    padding: 20px;
}

.navbar {
    background-color: #343a40 !important;
    margin-bottom: 20px;
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
}

section {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 5px;
}

#bio {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#bio h1 {
    align-self: flex-start;
}

#bio p {
    font-size: 1.2em;
}

#projects {
    background-color: #e9ecef;
}

#skills {
    background-color: #f5f5f5;
}

footer {
    background-color: #e9ecef;
    text-align: center;
}

#email {
    font-size: 1.2em;
    font-weight: bold;
}

.card {
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}
